---
import { socialIcons } from "../consts.ts";
import { Icon } from "astro-icon/components";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<div class="py-1 rounded-lg gap-4 transition-colors">
  {
    socialIcons.map((icon) => (
        <a
          href={icon.href}
          target="_blank"
          class="align-text-top m-[0_5px] inline-block no-underline"
          aria-label={icon.ariaLabel}
          title={icon.title}
        > 
          <Icon class="rounded-[10px] align-middle w-[30px] h-[30px] p-[4px] btn-ghost" name={`social/${icon.svg}`} />
        </a>
    ))
  }
</div>
